# Config AoR & Breakage owners
* @bwaresiak @SlayterDev @GuiltyDolphin @dharb

# Breakage triage and Content Scope Scripts AoR owners
features/ @bwaresiak @SlayterDev @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/ @bwaresiak @SlayterDev @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane

# Feature owners
features/ad-click-attribution.json @bwaresiak @SlayterDev @englehardt @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/amp-links.json @bwaresiak @SlayterDev @joshliebe @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/app-tracker-protection.json @bwaresiak @SlayterDev @aitorvs @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/autofill.json @bwaresiak @SlayterDev @GioSensation @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/autoconsent.json @bwaresiak @SlayterDev @muodov @sammacbeth @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/fingerprinting-* @bwaresiak @SlayterDev @englehardt @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/element-hiding.json @bwaresiak @SlayterDev @jonathanKingston @dharb @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/click-to-load.json @bwaresiak @SlayterDev @kzar @ladamski @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/click-to-play.json @bwaresiak @SlayterDev @kzar @ladamski @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/tracker-allowlist.json @bwaresiak @SlayterDev @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
features/incontext-signup.json @bwaresiak @SlayterDev @alistairjcbrown @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane

# Platform owners
overrides/browsers/ @bwaresiak @SlayterDev @kzar @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/android-override.js @bwaresiak @SlayterDev @marcosholgado @joshliebe @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/extension-override.js @kzar @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/ios-override.js @bwaresiak @SlayterDev @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/macos-override.js @bwaresiak @SlayterDev @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
overrides/windows-override.js @bwaresiak @SlayterDev @q71114 @szanto90balazs @GuiltyDolphin @dharb @jdorweiler @sammacbeth @jonathanKingston @shakyShane
