# AoR owners
scripts/ @bwaresiak @SlayterDev
.github/ @bwaresiak @SlayterDev
tests/ @bwaresiak @SlayterDev
index.js @bwaresiak @SlayterDev
platforms.js @bwaresiak @SlayterDev
util.js @bwaresiak @SlayterDev
package.json @bwaresiak @SlayterDev
package-lock.json @bwaresiak @SlayterDev

# Feature owners
features/ad-click-attribution.json @jonathanKingston @englehardt
features/amp-links.json @SlayterDev
features/app-tracker-protection.json @aitorvs
features/autofill.json @GioSensation
features/autoconsent.json @muodov @sammacbeth
features/fingerprinting-* @jonathanKingston @englehardt
features/element-hiding.json @jonathanKingston @dharb
features/click-to-load.json @kzar @ladamski
features/click-to-play.json @kzar @ladamski
features/tracker-allowlist.json @jdorweiler @dharb @GuiltyDolphin
features/incontext-signup.json @alistairjcbrown

# Platform owners
overrides/browsers/ @kzar @sammacbeth
overrides/android-override.js @marcosholgado @joshliebe
overrides/extension-override.js @kzar @sammacbeth
overrides/ios-override.js @bwaresiak
overrides/macos-override.js @bwaresiak
overrides/windows-override.js @q71114 @szanto90balazs