name: 'asana sync'
on:
    pull_request_review:
    pull_request_target:
        types:
            - opened
            - edited
            - closed
            - reopened
            - synchronize
            - review_requested

jobs:
    sync:
        runs-on: ubuntu-latest
        concurrency:
          group: asana-sync
          cancel-in-progress: false
        steps:
            - uses: actions/checkout@v4
            - uses: duckduckgo/action-asana-sync@v9
              with:
                  ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
                  ASANA_WORKSPACE_ID: ${{ secrets.ASANA_WORKSPACE_ID }}
                  ASANA_PROJECT_ID: '1206780406371845'
                  GITHUB_PAT: ${{ secrets.GH_RO_PAT }}
                  USER_MAP: ${{ vars.USER_MAP }}
                  ASSIGN_PR_AUTHOR: 'true'
